.fa-building-circle-arrow-right{
    color: white;
    font-size: 2rem;
}
.fa-brands{
    padding-right: 10px;
}
.fa-facebook{color: var(--footer-text);}
.fa-facebook:hover{color: var(--logo-color);}
.fa-twitter-square{color: var(--footer-text);}
.fa-twitter-square:hover{color: var(--logo-color);}
.fa-instagram-square{color: var(--footer-text);}
.fa-instagram-square:hover{color: var(--logo-color);}
.fa-linkedin{color: var(--footer-text);}
.fa-linkedin:hover{color: var(--logo-color);}
.fa-brain {color: rgb(240, 169, 97);}
.fa-code {color: rgb(224, 41, 27);}
.fa-square-check {color: rgb(240, 169, 97);}
// .fa-photo-film{ color: rgb(255, 194, 75);}
