
.footer{
    padding: 30px 10px;
    background: #181817;
    // height: 100vh;
    display: grid;
    
    &__grid{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2,1fr);
    }
    &__heading{
        padding: 40px 0;
        color: #f6f6ef;
        font-size: 2rem;
        line-height: 1.1;
        font-family: 'FatFrank', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
     
    }
    &__connect{
        padding: 20px 0;
        color: #f6f6ef;
        font-size: .85rem;
        // text-align: center;
    }
    &__connect a{
        color: #FACB1D;
        font-size: .85rem;
        // text-align: center;
        text-decoration: none;
    }
    &__toptext{
        font-family: 'FatFrank', sans-serif;
        color: #f6f6ef;
        font-size: 1.25rem;
        text-align: left;
    }
    &__logo-img{
        padding-bottom: 20px;
        width: 120px;
        text-align: left;
    }
    &__copyright{
        padding: 10px 0 10px 0;
        color: #cfcfc8;
        // font-weight: bold;
        font-size: .7rem;
        text-align: center;
        
    }
    &__social-block{
        display: flex;
        
        
    }
    &__social{
        padding-right: 10px;
        // color: #FACB1D;
    }
    &__social a{
        color: #FACB1D;
    }
    &__social a:hover{
        color: #f6f6ef;
    }
    &__policy{
        font-weight: 500;
        color: #FACB1D;  
        font-size: .7rem; 
    }
    &__policy ul{
       padding: 20px 0;
       display: flex;
      
       justify-content: center;
     
    }
    &__policy ul li{
        padding-right: 5px;
       list-style: none;
       
     }
   
 
 
}