.hero{
    // background: #FACB1D;
    padding: 30px 10px;
    background: #181817;
    // height: 100vh;
    display: grid;
    text-align: center;
    &__logo{
        margin: 30px auto;
    }
    &__logo-img{
        
       width: 200px; 
    //    height: 62px;
    }
    &__logo span{
        color: #f6f6ef;    
       }
    &__logo-subtext{
        color: #f6f6ef;
        font-size: .75rem;  
        font-family: 'General Sans', sans-serif;
        text-transform: lowercase;
        letter-spacing: 0;
        // text-align: right;
    }
    &__logo-banner{
        
        width: 350px; 
     //    height: 62px;
     }
    &__heading{
        padding: 40px 0;
        color: #f6f6ef;
        font-size: 2rem;
        line-height: 1.1;
        font-family: 'FatFrank', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
     
    }
   
    &__subtext{
        font-family: 'General Sans', sans-serif;
        color: #f6f6ef;
        font-size: .85rem;
        line-height: 1.5;
        padding: 5px 0;
    }
    &__subtext span{
        font-weight: bold;
        font-size: .9rem;
    }
 
 
}