*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'FatFrank';
  src: url(/assets/fonts/FatFrank-Free.otf);  
}
@font-face {
  font-family: 'General Sans';
  src: url(/assets/fonts/GeneralSans-Regular.otf);
}
body{
  font-family: 'General Sans', sans-serif;
}
