

.works{
    background: #FACB1D;
    padding: 20px 10px;
    color: #181817;
    // height: 100vh;
    display: grid;
    text-align: center;  
    &__heading{
        padding: 40px 0;        
        font-size: 2rem;
        line-height: 1.1;
        font-family: 'FatFrank', sans-serif;
        text-transform: uppercase;
        font-weight: 400;     
    }   
    &__subtext{
        font-family: 'General Sans', sans-serif;
        // color: #f6f6ef;
        font-size: .85rem;
        line-height: 1.5;
        padding: 5px 0;
    }
    &__subtext span{
        font-weight: bold;
        font-size: .9rem;
    }
    form {
        width: 200px;
        margin: 10px auto;
        padding: 10px;
    }
    input {
        display: block;
        margin: 10px auto;
        
        // width: 200px;
        // height: 100px;
    }
    &__btn{
        background: #181817;
        border: none;
        border-radius: 5px;
        
        width: 130px;
        height: 30px;
        color: white;
        
    }
}