@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Roboto:wght@300;400;500&display=swap");
@font-face {
  font-family: Manrope, sans-serif;
  src: url(/fonts/otf/Manrope-Regular.otf);
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --root-font: #171717;
  --hero-banner: white;
  --font-color: #B8B8B9;
  --font-dark: #424242;
  --btn-text: #171717;
  --btn-main: #96d05c;
  --btn-hover: #B8B8B9;
  --design-text: white;
  --navbar-color: #ffffff;
  --backgr-color: #1d1f1d;
  --background: #101011;
  --footer-text: #86868b;
  --footer-border: #424245;
  --logo-color: #ff00ff;
}

.container {
  padding: 0 1em;
  max-width: 75rem;
  margin: 0 auto;
}

body {
  position: relative;
  color: var(--font-color);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
  line-height: 1.5em;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #101011;
}

a:hover {
  color: var(--logo-color);
}

@media screen and (min-width: 800px) {
  .container {
    padding: 0 8%;
    max-width: 107rem;
    margin: 0 auto;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  flex-wrap: wrap;
}

.logo {
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--logo-color);
}

.hamburger {
  width: 56px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  z-index: 100;
  padding-top: 6px;
}

.bar {
  height: 3px;
  background: var(--body-color);
  transition: all 0.4s ease;
  border-radius: 25px;
  margin-bottom: 6px;
  transform-origin: left center;
  width: 30px;
  background: var(--body-color);
}

.bar-1 {
  width: 38px;
}

.hamburger:hover > .bar-1 {
  width: 36px;
}

.bar-2 {
  width: 30px;
}

.hamburger:hover > .bar-2 {
  width: 36px;
}

.bar-3 {
  width: 38px;
}

.hamburger:hover > .bar-3 {
  width: 36px;
}

.bar-4 {
  width: 36px;
}

.hamburger:hover > .bar-4 {
  width: 36px;
}

.show .hamburger > .bar-1 {
  transform: none;
  transform: rotate(45deg);
  width: 38px;
}
.show .hamburger > .bar-2 {
  opacity: 0;
}
.show .hamburger > .bar-3 {
  transform: none;
  transform: rotate(-45deg) translate(-6px, 5px);
  width: 38px;
}
.show .hamburger > .bar-4 {
  opacity: 0;
}
.show .hamburger .bar {
  background: #f7ce68;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  margin: auto;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  border-radius: 10px;
  overflow: hidden;
}
.show .overlay {
  display: block;
  opacity: 1;
  pointer-events: visible;
}
.overlay .overlay-content {
  position: relative;
  top: 15%;
  left: 15%;
  font-size: 1.8rem;
}

nav li {
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
  line-height: 5rem;
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #f7ce68;
  text-decoration: none;
}

nav .active-page a {
  font-weight: bold;
  color: white;
}

.show nav {
  display: block;
}

.hero {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), url("/img/web/hero-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__banner {
  font-family: "Montserrat", sans-serif;
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 1.2;
  padding-bottom: 30px;
  color: var(--hero-banner);
}
.hero__logo {
  color: rgb(237, 114, 32);
}
.hero__toptext {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  padding: 20px 0;
}
.hero__toptext span {
  color: var(--btn-main);
}
.hero__btn {
  display: inline-block;
  color: var(--btn-text);
  background-color: var(--btn-main);
  padding: 10px 20px;
  border-radius: 30px;
}
.hero__btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}
.hero__right {
  display: grid;
  grid-gap: 0.1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (min-width: 800px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), url("/img/web/hero-md.jpg");
  }
  .hero__banner {
    font-size: 4rem;
  }
  .hero__logo {
    color: rgb(237, 114, 32);
  }
  .hero__toptext {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 30px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 255, 0.5)), url("/img/web/hero-lg.jpg");
  }
  .hero__banner {
    font-size: 4rem;
  }
  .hero__toptext {
    font-size: 1.25rem;
  }
}
.about {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  background-color: var(--root-font);
  color: white;
}
.about__sections {
  display: grid;
  place-items: center;
}
.about__left img:hover {
  border-radius: 50px;
}
.about__right {
  padding: 10px 0 0 0;
}
.about__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.about__text {
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  .about {
    padding: 75px 0;
  }
  .about__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__sections {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__right {
    padding: 0 30px;
  }
}
.design {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  background-color: #EA4723;
  color: var(--design-text);
}
.design__sections {
  display: grid;
  place-items: center;
}
.design__left img:hover {
  border-radius: 50px;
}
.design__right {
  padding: 10px 0 0 0;
}
.design__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.design__text {
  font-weight: 500;
  padding-bottom: 10px;
}
.design__num {
  font-size: 5rem;
  font-weight: 800;
  padding: 30px 0;
  color: #EA4723;
  filter: brightness(80%);
}

@media screen and (min-width: 800px) {
  .design {
    padding: 75px 0;
  }
  .design__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
  .design__text {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .design {
    padding: 75px 0;
  }
  .design__sections {
    grid-template-columns: repeat(2, 1fr);
  }
  .design__left {
    order: 2;
  }
  .design__right {
    padding: 0 30px;
    order: 1;
  }
}
.process {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  background-color: #97A880;
  color: var(--background);
}
.process__sections {
  display: grid;
  place-items: center;
}
.process__left img:hover {
  border-radius: 50px;
}
.process__right {
  padding: 10px 0 0 0;
}
.process__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.process__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.process__text {
  font-weight: 500;
  padding-bottom: 10px;
}
.process__num {
  font-size: 5rem;
  font-weight: 800;
  padding: 30px 0;
  color: #EA4723;
  filter: brightness(80%);
}

@media screen and (min-width: 800px) {
  .process {
    padding: 75px 0;
  }
  .process__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
  .process__text {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
.print {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  background-color: #6993AB;
  color: var(--background);
}
.print__sections {
  display: grid;
  place-items: center;
}
.print__left img:hover {
  border-radius: 50px;
}
.print__right {
  padding: 10px 0 0 0;
}
.print__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.print__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.print__text {
  font-weight: 500;
  padding-bottom: 10px;
}
.print__num {
  font-size: 5rem;
  font-weight: 800;
  padding: 30px 0;
  color: #EA4723;
  filter: brightness(80%);
}

@media screen and (min-width: 800px) {
  .print {
    padding: 75px 0;
  }
  .print__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
  .print__text {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .print {
    padding: 75px 0;
  }
  .print__sections {
    grid-template-columns: repeat(2, 1fr);
  }
  .print__right {
    padding: 0 30px;
  }
}
.die {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  background-color: #C46551;
  color: var(--design-text);
}
.die__sections {
  display: grid;
  place-items: center;
}
.die__left img:hover {
  border-radius: 50px;
}
.die__right {
  padding: 10px 0 0 0;
}
.die__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.die__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.die__text {
  font-weight: 500;
  padding-bottom: 10px;
}
.die__num {
  font-size: 5rem;
  font-weight: 800;
  padding: 30px 0;
  color: #EA4723;
  filter: brightness(80%);
}

@media screen and (min-width: 800px) {
  .die {
    padding: 75px 0;
  }
  .die__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
  .die__text {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .die {
    padding: 75px 0;
  }
  .die__sections {
    grid-template-columns: repeat(2, 1fr);
  }
  .die__left {
    order: 2;
  }
  .die__right {
    padding: 0 30px;
    order: 1;
  }
}
.folding {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  background-color: #BDA679;
  color: var(--background);
}
.folding__sections {
  display: grid;
  place-items: center;
}
.folding__left img:hover {
  border-radius: 50px;
}
.folding__right {
  padding: 10px 0 0 0;
}
.folding__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.folding__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.folding__text {
  font-weight: 500;
  padding-bottom: 10px;
}
.folding__num {
  font-size: 5rem;
  font-weight: 800;
  padding: 30px 0;
  color: #EA4723;
  filter: brightness(80%);
}

@media screen and (min-width: 800px) {
  .folding {
    padding: 75px 0;
  }
  .folding__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
  .folding__text {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .folding {
    padding: 75px 0;
  }
  .folding__sections {
    grid-template-columns: repeat(2, 1fr);
  }
  .folding__right {
    padding: 0 30px;
  }
}
.delivery {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  color: var(--background);
}
.delivery__sections {
  display: grid;
  place-items: center;
}
.delivery__left img:hover {
  border-radius: 50px;
}
.delivery__right {
  padding: 10px 0 0 0;
}
.delivery__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.delivery__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.delivery__text {
  font-weight: 500;
  padding-bottom: 10px;
}
.delivery__num {
  font-size: 5rem;
  font-weight: 800;
  padding: 30px 0;
  color: #EA4723;
  filter: brightness(80%);
}

@media screen and (min-width: 800px) {
  .delivery {
    padding: 75px 0;
  }
  .delivery__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
  .delivery__text {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
.gallery {
  text-align: center;
  padding: 30px 0;
  color: var(--root-font);
  background-color: #F4F1E8;
  color: var(--background);
}
.gallery__work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.gallery__left img:hover {
  border-radius: 50px;
}
.gallery__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  padding: 30px 0;
}
.gallery__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}
.gallery__text {
  font-weight: 500;
  padding-bottom: 10px;
}

@media screen and (min-width: 800px) {
  .gallery {
    padding: 75px 0;
  }
  .gallery__title {
    font-size: 2.75rem;
    padding: 40px 0;
  }
  .gallery__text {
    font-weight: 500;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 75px 0;
  }
  .gallery__work {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__right {
    padding: 0 30px;
  }
}
.fa-building-circle-arrow-right {
  color: white;
  font-size: 2rem;
}

.fa-brands {
  padding-right: 10px;
}

.fa-facebook {
  color: var(--footer-text);
}

.fa-facebook:hover {
  color: var(--logo-color);
}

.fa-twitter-square {
  color: var(--footer-text);
}

.fa-twitter-square:hover {
  color: var(--logo-color);
}

.fa-instagram-square {
  color: var(--footer-text);
}

.fa-instagram-square:hover {
  color: var(--logo-color);
}

.fa-linkedin {
  color: var(--footer-text);
}

.fa-linkedin:hover {
  color: var(--logo-color);
}

.fa-brain {
  color: rgb(240, 169, 97);
}

.fa-code {
  color: rgb(224, 41, 27);
}

.fa-square-check {
  color: rgb(240, 169, 97);
}

.footer {
  padding: 50px 0;
  background-color: var(--background);
  color: var(--footer-text);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.footer__address-head {
  color: #96D05C;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.footer__address-head:nth-child(2) > span:nth-child(1) {
  color: white;
}
.footer__address-text {
  font-size: 0.8125em;
  color: var(--body-color);
}
.footer__address-text span {
  color: var(--design-text);
}
.footer__address-gap {
  padding: 10px 0;
}
.footer__copyright {
  text-align: center;
  background-color: black;
  color: var(--footer-text);
  font-size: 0.75rem;
  padding: 10px 0;
}
.footer a {
  color: var(--footer-text);
}/*# sourceMappingURL=style.css.map */